*txt.user*
/.project
/.vscode
/build*/
/debian/*.debhelper.log
/debian/*.substvars
/debian/.debhelper/
/debian/files
/debian/debhelper-build-stamp
/debian/mock-autopilot/
/debian/tmp/
/obj-*-linux-gnu/
/output
cscope*
tags
